<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”
>
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="icon" href="/images/book.png" type="image/png">
    <div th:replace="layout::header"></div>
    <style>
        td {
            margin: 50px;
        }
    </style>
</head>
<body>
<div th:replace="layout::navbar">
</div>


<div class="container" style="margin-top: 5vh" id="vue-container">
    <div v-if="searching" class="loading">Loading</div>
    <input type="hidden" th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" id="csrf"/>

    <h1 th:text="${publication.title}">Titulo</h1>

    <div class="row">
        <div class="col-md-5">
            <img style="width: 100%; height: 70vh;" src="/images/sal.jpg">
        </div>
        <div class="col-md-5">
            <table>
                <tr>
                    <td colspan="2"><h3>Title:</h3>
                        <p th:text="${publication.title}">Title</p><br></td>
                    <td>

                        <h3>Share date:</h3>
                        <p th:text="${publication.shareDate}">Share date</p><br>
                    </td>
                </tr>

                <tr>

                    <td colspan="2">
                        <h3>Pages:</h3>
                        <p th:text="${publication.pageCount}">Page count</p><br>
                    </td>

                    <td>
                        <h3>Genere:</h3>
                        <p th:text="${publication.genere}">Genere</p><br>
                    </td>
                </tr>
                <tr>

                    <td colspan="2">
                        <h3>Author:</h3>
                        <p th:text="${publication.author}">Author</p><br>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <h3>Visits:</h3>
                        <p th:text="${publication.visits}">Visits</p><br>
                    </td>
                    <td>
                        <h3>Stars:</h3>
                        <p th:text="${publication.stars}">Stars</p><br>

                    </td>
                </tr>

                <tr>
                    <td>
                        <h3>Shared by:</h3>
                        <a th:href="@{'/profile/view/'+${publication.user.userName}}"
                           th:text="${publication.user}">user</a>
                        <img class="profile-picture"
                             th:src="@{'/uploaded_file/view/'+${publication.user.profilePicture}}"
                             width="20"
                             height="20">
                    </td>
                </tr>
            </table>

        </div>
        <div class="col-md-2">
            <a href="#">Download files</a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <strong>Lorem</strong> ipsum dolor sit amet, consectetur adipisicing elit.
            Ad beatae
            blanditiis commodi
            consequatur dolor ea, eaque eius eligendi eos esse incidunt iste magni placeat quo quos
            tempora temporibus totam vel?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aperiam aspernatur autem blanditiis deleniti dicta dolore et hic id maxime molestiae
            molestias, mollitia natus necessitatibus nihil quam quasi sed similique vitae.
        </div>
    </div>
    <div class="row" style="margin-top: 2vh">
        <div class="col-md-10">
            <div class="form-group">
                <h3>Write a comment</h3>
                <textarea class="form-control" id="comment" rows="3" v-model="comment"></textarea>
                <button class="btn btn-info" @click="publishComment">Publish</button>
            </div>
        </div>

    </div>
    <div class="row" th:each="comment : ${publication.comments}" style="margin-top: 2vh;
    margin-bottom: 2vh">
        <div class="col-md-10">


            <div class="list-group">
                <a th:href="@{'/profile/view/'+${comment.username.userName}}"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">[[${comment.username}]]</h5>
                        <small class="text-muted">[[${comment.publishDate}]]</small>
                    </div>

                    <p class="mb-1">[[${comment.content}]]</p>
                    <small class="text-muted">[[${comment.likes}]]10 people like this</small>
                </a>
            </div>

        </div>

    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script type="text/javascript">

    Vue.http.headers.common['X-CSRF-TOKEN'] = $("#csrf")[0].value;
    console.log("Token :" + $("#csrf")[0].value);
    new Vue({
        el: '#vue-container',
        data: {
            searching: false,
            comment: ""

        },
        mounted: function () {

        },
        methods: {
            publishComment: function () {
                console.log(this.comment);

                let success = function (response) {
                    Swal.fire({
                        title: 'Published!',
                        text: 'Your comment has been published',
                        icon: 'success',
                        confirmButtonText: 'Got It!'
                    });
                    window.setInterval(function () {
                        location = "/publications/visit/"+[[${publication.id}]];
                    },2000);
                };

                let error = function (error) {
                    console.log(error)

                    if (error.status===500){
                        Swal.fire({
                            title: 'uhmmm',
                            text: 'Something went wrong :/, Try later',
                            icon: 'error',
                            confirmButtonText: 'Got It!'
                        });
                    }

                    if(error.status ===400){
                        Swal.fire({
                            title: 'uhmmm',
                            text: 'The comments must have 2 chars at least',
                            icon: 'warning',
                            confirmButtonText: 'Got It!'
                        });
                    }
                };
                let formData = new FormData();
                formData.append("publication", [[${publication.id}]]);
                formData.append("content", this.comment);
                this.$http.post("/comments/publish/", formData).then(success, error);
            }
        }
    });

</script>
</body>
</html>